#conteudo  {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}

#cabecalho {
    width: 800px;
    height: 300px;
    display: flex;
}

#fotodeperfil {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fotodeperfil img,
.destaque img{
    border-radius: 50%;
}

#textodeperfil {
    width: 500px;
    height: 300px;
    padding: 10px 50px;
    box-sizing: border-box;

    h3 {
        font-family: "Lacquer", system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

#destaques {
    height: 150px;
    width: 800px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

#feed {
    height: 1000px;
    width: 800px;
}

#span-seguindo {
    font-weight: bold;
    margin-left: 50px;
}

.juntinhos {
    margin: 0;
}

#pill {
    background-color: lightgray;
    padding: 8px;
    border-radius: 20px;

    img {
        margin-bottom: -3px;
    }
}

#essenao {
    margin: 15px 0;
}

a {
    text-decoration: none;
}

#icone-link {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
    background-image: url("link-icon-png-14.png");
}

.destaque {
    width: 120px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;

    img {
        width: 80px;
        height: 80px;
    }

    p {
        margin-top: 5px;
        text-align: center;
        font-weight: 600;
    }
}

#feed {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.post {
    width: 263px;
    height: 400px;
    img {
        width: 100%;
        height: 100%;
    }
}

img {
    object-fit: cover;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}