#conteudo  {
    width: 800px;
    height: 1000px;
    background-color: khaki;
    margin: 0 auto;
}

#cabecalho {
    width: 800px;
    height: 300px;
    background-color: azure;
    display: flex;
}

#fotodeperfil {
    width: 300px;
    height: 300px;
    background-color: rgb(176, 213, 113);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 50%;
}

#textodeperfil {
    width: 500px;
    height: 300px;
    background-color: darkseagreen;
    padding: 20px 50px;
    box-sizing: border-box;
}

#destaques {
    height: 150px;
    width: 800px;
    background-color: lightpink;
}

#feed {
    height: 1000px;
    width: 800px;
    background-color: antiquewhite;
}

#span-seguindo {
    font-weight: bold;
    margin-left: 50px;
}

.juntinhos {
    margin: 0;
}

#pill {
    background-color: lightgray;
    padding: 8px;
    border-radius: 20px;

    img {
        margin-bottom: -3px;
    }
}

#essenao {
    margin: 15px 0;
}

a {
    text-decoration: none;
}

#icone-link {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-size: 12px;
    background-image: url("link-icon-png-14.png");
}